.Appform {
    background: linear-gradient(to bottom, rgb(239, 248, 210), rgb(107, 220, 248));
    text-align: left;
    height: 30%;
    margin: auto;
    padding-left: 20px;
    border-style: solid;
    border-color: rgb(129, 138, 138);
    
    
}
.head{
    text-align: center;
    
}

.first{
    width: 100%;
    height: 100%;
    margin: 30px;
    padding: 2px;
    font-size: large;  
    float: left; 
}
.last{
    width: 100%;
    height: 100%;
    margin: 30px;
    padding: 2px;
    font-size: large;
}
.age{
    
    width: 100%;
    height: 100%;
    margin: 30px;
    padding: 2px;
    margin-right: 10px;
    font-size: large;

}
.email{
    width: 100%;
    height: 100%;
    margin: 30px;
    padding: 2px;
    font-size: large;

}
.gender{
    width: 100%;
    height: 100%;
    margin: 30px;
    padding: 2px;
    font-size: large;
}
.problem{
    width: 100%;
    height: 100%;
    margin: 30px;
    padding: 2px;
    font-size: large;
}
.number{
    width: 100%;
    height: 100%;
    margin: 30px;
    padding: 2px;
    font-size: large;
}
.address{
    width: 100%;
    height: 100%;
    margin: 30px;
    padding: 2px;
    font-size: large;
}
.date{
    width: 100%;
    height: 100%;
    margin: 30px;
    padding: 2px;
    font-size: large;
}
.box{
    margin: 10px;
    padding: 10px;
    text-align: left;
    font-size: large;
}

.overall {
    width: 430px;
    height: 90%;
    margin: 450px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 2px,2px,2px,2px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom, rgb(244, 247, 233), rgb(107, 220, 248));
}
