
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.doc_grid_child{
    display: grid;
    width: 90%;
    grid-template-columns:repeat(auto-fill, minmax(200px,1fr));
    row-gap: 10px;
    column-gap: 10px;
    margin-left: 40px;
}
.grid-box{   
    border-radius: 30px;
    text-align: center;
    background-color: #ddd;
    padding: 30px 0px;
}
.grid-box label{
    display: block;
}
.header{
    font-size: larger;
    height: 70px;
    text-align: center;    
    background-color: rgb(215, 248, 250);
    margin-bottom: 30px;
}


.menu-grid-container{
    display: flex;    
}

.side-menu{
    flex: 1;

}
.doc_grid-container{
    display: grid;    
    flex: 6;
}

.side-menu ul{
    list-style: outside;
}
.side-menu li div{
    margin-top: 20px;
    width: 100%;
    height: 30px;
    background-color: burlywood;
    vertical-align: middle;
    
}
.container{
    background-color: cornsilk;
    width: 440px;
    margin: 0px auto;
    border-radius: 15px;

}
form{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}           

form div{
    width: 90%;
    margin-top: 30px;
}
input[type="submit"]{
    margin: 0px auto;
    width: 70px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

input[type="text"],
input[type="email"]                
{
    width: 100%;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
input[type="number"]{
    width: 30px;
    height: 25px;text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
textarea{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.gender-section label{
    display: inline-block;
    flex: 1;
}
.gender-options{
    display: flex;
    justify-content: space-between;

}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid with a minimum item width of 250px */
    gap: 10px; 

}   
.tile label{
    display: block;
}     
.tile{
    border: 1px solid cadetblue;
}    
.admission-form{
    display: none;
    flex: 6;
}